# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

scenarios_temp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*/pip-wheel-metadata

# Environments
*.env
.venv
venv/

#CSV and static folders
audio_files/
static/
german_dataset/
fleurs_audio/

# intellij configuration
.idea

# temporary plots
temp